h1 {
  font-size: 25px;
  font-weight: bold;
  text-align: center;
}

select {
  margin-top: 20px;
  margin-bottom: 20px;
}

img {
  width: 100px;
  height: 100px;
  float: left;
  border: 2px solid white;
}

section {
  width: 520px;
  margin: auto;
  margin: 5px;
  border: 2px solid black;
}

.pagination {
  display: inline-block;
  margin: 10px;
}

.pagination a {
  color: black;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
  transition: background-color .3s;
  border: 1px solid #ddd;
}

.pagination a.active {
  background-color: #4CAF50;
  color: white;
  border: 1px solid #4CAF50;
}

.pagination a:hover:not(.active) {background-color: #ddd;}

.dropbtn {
  background-color: darkgray;
  color: white;
  padding: 5px;
  font-size: 16px;
  border: none;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown:hover .dropdown-content {display: block;}
